.container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.score {
    display: flex;
    justify-content: space-between;
    font-family: "VT323 Static", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: Regular 400;
}

.currentScore {
    color: #7F8A61;
}

.highScore {
    color: #BCC799; 
}

.board {
    background: #A2AD81;
    height: 589px;
    width: 600px;
    border: solid #4D513C 10px;
    border-radius: 5%;
}

.playground {
    display: flex;
    flex-direction: column;
    /* background: #BCC799; */
    border: solid  #7F8A61 40px;
    border-radius: 2%;
    margin: 8px;
    height: 495px;
}

.row {
    display: grid;
    grid-template-columns: repeat(15, 1fr);
}

.cell {
    height: 30.9px;
    border: solid rgba(0, 0, 0, 0.324) 0.1px;
}

.snakeBodyDiv {
    background-color: aquamarine;
    border: solid #698716 2px;
}

.foodBodyDiv {
    background-color: red;
    border-radius: 40%;
}