.snake-game {
  background: #393939;
}

.snake-game .container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.snake-game .score {
  display: flex;
  justify-content: space-between;
  font-family: "VT323 Static", serif;
}

.snake-game .currentScore {
  color: #BCC799;
}

.snake-game .highScore {
  color: #7F8A61;
}

.snake-game .board {
  background: #A2AD81;
  height: 589px;
  width: 600px;
  border: solid #4D513C 10px;
  border-radius: 5%;
}

.snake-game .playground {
  display: flex;
  flex-direction: column;
  border: solid #7F8A61 40px;
  border-radius: 2%;
  margin: 8px;
  height: 495px;
}

.snake-game .row {
  display: grid;
  grid-template-columns: repeat(15, 1fr);
}

.snake-game .cell {
  height: 30.9px;
  border: solid rgba(0, 0, 0, 0.324) 0.1px;
}

.snake-game .snakeBodyDiv {
  background-color: aquamarine;
  border: solid #698716 0.1px;
}

.snake-game .foodBodyDiv {
  background-color: red;
  border-radius: 40%;
}
